<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="animated-title">Buscar Vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Buscar Vehículo</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-item>
    <input
      #searchFieldOrigen
      type="text"
      placeholder="Ingresa el origen"
      style="width: 100%; padding: 8px;"
    />
  </ion-item>

  <ion-item>
    <input
      #searchFieldDestino
      type="text"
      placeholder="Ingresa el destino"
      style="width: 100%; padding: 8px;"
    />
  </ion-item>

  <ion-item>
    <ion-button expand="full" color="primary" (click)="getUserLocation()">
      Mi ubicación
    </ion-button>
  </ion-item>

  <google-map
    height="400px"
    width="100%"
    [center]="center"
    [zoom]="zoom">
    <map-marker
      *ngFor="let marker of markers"
      [position]="marker.position"
      [title]="marker.title">
    </map-marker>
  </google-map>

  <ion-item>
    <ion-button expand="full" color="secondary" (click)="calcularDistancia()">
      Calcular distancia
    </ion-button>
  </ion-item>
</ion-content>

